@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
}
:root{
    --dark-color:black;
    --coral-color:orangered;
}
body{
    background-color: black;
}
.all-results{
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 5rem;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
}
button{
    padding: 1rem;
    background-color: var(--coral-color);
    border: none;
    border-radius: 6px;
    opacity: .6;
    transition: transform .25s;
    font-size: 1.5rem;
}
button:hover{
    transform: scale(1.1);
}
button:focus{
    opacity: 1;
    outline: 0;
}
.choices{
    justify-content: space-between;
    width: 70%;
}
.choices button{
    min-width: 30%;
}
.container{
    width: 80%;
    margin: auto;
    /* padding: 2rem; */
}

.container .choices,
.start{
    margin: auto;
    text-align: center;
    margin-top: 10rem;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    row-gap: 1rem;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 7rem;
}
.overal-winner{
    font-size: 1.7rem;
    color: green;
    margin: 3rem 0 -3rem 0;
}

#start-btn{
    font-size: 2rem;
}




.text-center{
    text-align: center;
}




@media screen and (max-width:700px) {
    .choices{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}